<ion-view ion-title="Add" id="add">
	<ion-header-bar class="bar-stable">
		<a class="button button-clear button-positive" ng-href="#/settings" translate>Cancel</a>
		<h1 class="title" translate>Add station</h1>
	</ion-header-bar>
	<div class="bar bar-subheader">
		<div class="button-bar">
			<a class="button" ng-class="{'button-positive': !useful}" ng-click="switchUseful(false)" translate>All</a>
			<a class="button" ng-class="{'button-positive': useful}" ng-click="switchUseful(true)" translate>Active</a>
		</div>
	</div>
	<ion-content class="has-subheader">
		<p class="spinner" ng-show="loading">
			<ion-spinner></ion-spinner>
		</p>
		<ion-list>
			<div ng-repeat="stationInfosByVoivodeship in stationInfosByVoivodeships">
				<div ng-repeat="stationInfo in stationInfosByVoivodeship.stationInfos">
					<ion-item ng-if="$index == 0" class="item-divider"><strong>{{stationInfosByVoivodeship.voivodeship}}</strong></ion-item>
					<ion-item ng-click="add(stationInfo)">
						<h2>{{stationInfo.station.name}}</h2>
						<p>{{[stationInfo.station.address.city, stationInfo.station.address.code, stationInfo.station.address.street].join(', ')}}</p>
						<p>
							<small>
								<i class="icon" ng-class="{'ion-checkmark-circled balanced': stationInfo.last_measurement.status, 'ion-alert-circled assertive': !stationInfo.last_measurement.status}"></i>
								<span ng-if="stationInfo.last_measurement.date"><span translate>Last sample:</span> <span am-time-ago="stationInfo.last_measurement.date"></span></span>
								<span ng-if="!stationInfo.last_measurement.date" translate>Last sample: none</span>
							</small>
						</p>
						<i class="icon ion-chevron-right icon-accessory pull-right"></i>
					</ion-item>
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
