<ion-view ion-title="Home" id="home">
	<ion-content scroll="false">
		<ion-slide-box show-pager="false" delegate-handle="stations" on-slide-changed="slideChanged($index)">
			<ion-slide ng-repeat="station in stations">
				<ion-content delegate-handle="station-{{$index}}">
					<p class="station-name"><i class="icon ion-ios-location"></i> {{station.name}}</p>
					<div class="overall">
						<i class="icon ion-checkmark-circled"></i>
						<div class="right">
							<label>Jakość powietrza</label>
							<p class="air-quality">Bardzo dobra</p>
						</div>
					</div>
					<div class="table {{group.code}}" ng-repeat="group in station.parameter_groups" ng-init="channels = (station.channels | channelsGroup : group.parameters)">
						<div ng-if="channels.length">
							<h2>{{group.name}}</h2>
							<div ng-repeat="channel in channels" class="row {{channel.parameter.code}}">
								<div class="col icon">
									<i ng-if="channel.parameter.code == 'co'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'pm10'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'pm10_as'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'pm10_bap'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'pm10_cd'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'pm10_ni'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'pm2.5'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'no'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'no2'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'nox'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'so2'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'o3'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'bzn'" class="quality"></i>
									<i ng-if="channel.parameter.code == 'pb'" class="quality"></i>

									<i ng-if="channel.parameter.code == 'temp'" class="wi wi-thermometer"></i>
									<i ng-if="channel.parameter.code == 'humid'" class="wi wi-humidity"></i>
									<i ng-if="channel.parameter.code == 'press'" class="wi wi-barometer"></i>
									<i ng-if="channel.parameter.code == 'ws'" class="wi wi-strong-wind"></i>
									<i ng-if="channel.parameter.code == 'wd'" class="wi wi-wind towards-{{'%.0f' | sprintf : channel.last_measurement.value}}-deg"></i>
								</div>
								<div class="col name">
									{{channel.parameter.name}}
								</div>
								<div class="col value" ng-bind-html="channel.parameter.unit.format | smallUnit | sprintf : channel.last_measurement.value"></div>
							</div>
						</div>
					</div>
				</ion-content>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
	<ion-footer-bar align-title="left">
		<db-station-pager stations="stations" slide-box-delegate-handle="stations"></db-station-pager>
		<div class="buttons pull-right" ng-click="doSomething()">
			<a class="button button-icon icon ion-ios-gear"></a>
		</div>
	</ion-footer-bar>
</ion-view>
