<span ng-if="code == 'bzn'" translate>Benzene C₆H₆</span>
<span ng-if="code == 'co'" translate>Carbon monoxide</span>
<span ng-if="code == 'ebzn'" translate>Ethylbenzene C₈H₁₀</span>
<span ng-if="code == 'hcho'" translate>Formaldehyde</span>
<span ng-if="code == 'hg'" translate>Mercury gas</span>
<span ng-if="code == 'mpxy'" translate>M-P-Xylene C₈H₁₀</span>
<span ng-if="code == 'no'" translate>Nitrogen monoxide NO</span>
<span ng-if="code == 'no2'" translate>Nitrogen dioxide NO₂</span>
<span ng-if="code == 'nox'" translate>Nitrogen oxides NOₓ</span>
<span ng-if="code == 'o3'" translate>Ozone O₃</span>
<span ng-if="code == 'oxy'" translate>O-Xylene C₈H₁₀</span>
<span ng-if="code == 'pb'" translate>Lead</span>
<span ng-if="code == 'pm10'" translate>Particulate matter PM₁₀</span>
<span ng-if="code == 'pm10_as'" translate>Arsenic in PM₁₀</span>
<span ng-if="code == 'pm10_baa'" translate>Benzo(a)anthracene in PM₁₀</span>
<span ng-if="code == 'pm10_bap'" translate>Benzo(a)pyrene in PM₁₀</span>
<span ng-if="code == 'pm10_bbf'" translate>Benzo(b)fluoranthene in PM₁₀</span>
<span ng-if="code == 'pm10_bjf'" translate>Benzo(j)fluoranthene in PM₁₀</span>
<span ng-if="code == 'pm10_bkf'" translate>Benzo(k)fluoranthene in PM₁₀</span>
<span ng-if="code == 'pm10_cd'" translate>Kadm in PM₁₀</span>
<span ng-if="code == 'pm10_dbaha'" translate>Dibenzo(a,h)anthracene in PM₁₀</span>
<span ng-if="code == 'pm10_ip'" translate>Indeno(1,2,3-cd)pyrene in PM₁₀</span>
<span ng-if="code == 'pm10_ni'" translate>Nickel in PM₁₀</span>
<span ng-if="code == 'pm10_pb'" translate>Lead in PM₁₀</span>
<span ng-if="code == 'pm2.5'" translate>Particulate matter PM₂.₅</span>
<span ng-if="code == 'rad'" translate>Global radiation</span>
<span ng-if="code == 'so2'" translate>Sulphur dioxide SO₂</span>
<span ng-if="code == 'tln'" translate>Toluene C₇H₈</span>
<span ng-if="code == 'uvb'" translate>UVB radiation</span>
<span ng-if="code == 'humid'" translate>Relative humidity</span>
<span ng-if="code == 'press'" translate>Atmospheric pressure</span>
<span ng-if="code == 'rain'" translate>Precipitation</span>
<span ng-if="code == 'temp'" translate>Temperature</span>
<span ng-if="code == 'wd'" translate>Wind direction</span>
<span ng-if="code == 'ws'" translate>Wind speed</span>