<ion-view id="station">
	<ion-header-bar class="bar-stable">
		<a class="button button-clear button-positive button-icon ion-ios-arrow-left" ng-click="back()" translate>Back</a>
		<h1 class="title" translate>Station</h1>
		<a ng-if="showAdd" class="button button-clear button-positive" ng-click="add(station)" translate>Add</a>
	</ion-header-bar>
	<ion-content>
		<ui-gmap-google-map
				center='map.center'
				zoom='map.zoom'
				options="{draggable: true, mapTypeControl: true, zoomControl: false, streetViewControl: false}"
		>
			<ui-gmap-marker coords="station.location" idkey="station.uuid"></ui-gmap-marker>
		</ui-gmap-google-map>

		<h3 class="name">{{station.name}}</h3>

		<ul class="table address">
			<li class="row" ng-if="station.address.street">
				<div class="col col-33 title" translate>Street</strong></div>
				<div class="col col-67">{{station.address.street}}</div>
			</li>
			<li class="row" ng-if="station.address.code">
				<div class="col col-33 title" translate>Code</div>
				<div class="col col-67">{{station.address.code}}</div>
			</li>
			<li class="row" ng-if="station.address.city">
				<div class="col col-33 title" translate>City</div>
				<div class="col col-67">{{station.address.city}}</div>
			</li>
			<li class="row" ng-if="station.address.voivodeship">
				<div class="col col-33 title" translate>Voivodeship</div>
				<div class="col col-67">{{station.address.voivodeship}}</div>
			</li>
		</ul>

		<hr/>

		<ul class="table parameter-groups">
			<li ng-repeat="parameter_group in station.parameter_groups" class="row">
				<div ng-if="parameter_group.code == 'air_quality'" class="col col-33 title" translate>Air quality</div>
				<div ng-if="parameter_group.code == 'weather'" class="col col-33 title" translate>Weather</div>
				<div class="col col-67">
					<div ng-repeat="channel_group in station.channel_groups" ng-init="channels = (channel_group.channels | channelsGroup : parameter_group.parameters)">
						<p ng-repeat="channel in channels" db-parameter-name code="channel.parameter.code" ng-class="{'automatic': (channel.flags | bitwiseAnd : 16), 'manual': (channel.flags | bitwiseAnd : 32)}"></p>
					</div>
				</div>
			</li>
		</ul>
	</ion-content>
</ion-view>
