#add {
	.spinner {
		text-align: center;
		margin: 4em 0;
	}

	.button-bar {
		padding-left: 20px;
		padding-right: 20px;
	}

	.pull-right {
		position: absolute;
		right: 10px;
		top: 50%;
		-webkit-transform: -webkit-translate(0, -50%);
		transform: translate(0, -50%);
	}
}