#home {
	background: rgb(153,204,255);
	background: -moz-linear-gradient(top,  rgba(153,204,255,1) 0%, rgba(0,114,188,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,204,255,1)), color-stop(100%,rgba(0,114,188,1)));
	background: -webkit-linear-gradient(top,  rgba(153,204,255,1) 0%,rgba(0,114,188,1) 100%);
	background: -o-linear-gradient(top,  rgba(153,204,255,1) 0%,rgba(0,114,188,1) 100%);
	background: -ms-linear-gradient(top,  rgba(153,204,255,1) 0%,rgba(0,114,188,1) 100%);
	background: linear-gradient(to bottom,  rgba(153,204,255,1) 0%,rgba(0,114,188,1) 100%);

	.slider {
		height: 100%;

		.slider-slide {
			height: 100%;

			.scroll-content {
				padding: 21px 20px;
			}

			.station-name {
				color: #fff;
				text-align: center;
				font-size: 14px;
				margin: 2em;

				i {
					font-size: 1.1em;
				}
			}

			.overall {
				overflow: hidden;
				width: 280px;
				margin: 2em auto;

				.indicator {
					position: relative;
					float: left;

					.progress {
						margin-right: 8px;
					}

					.value {
						position: absolute;
						top: 40px;
						left: 40px;
						transform: translate(-50%, -50%);
						color: #fff;
						font-size: 12px;

						small {
							font-size: 9px;
						}
					}
				}

				.right {
					float: left;
					padding: 10px 0;

					label {
						font-size: 11px;
						color: rgba(255,255,255,0.7);
						margin: 0 3px;
						text-transform: uppercase;
					}

					p.air-quality {
						font-size: 30px;
						font-weight: 300;
						color: #fff;
						line-height: 30px;
					}
				}
			}

			.table {
				h2 {
					border-bottom: 1px solid rgba(255,255,255,0.4);
					margin: 1em -20px 1em -20px;
					text-transform: uppercase;
					font-size: 11px;
					color: rgba(255,255,255,0.7);
					padding: 0 20px;
					line-height: 18px;
				}

				.row {
					.col {
						&.icon {
							font-size: 18px;
							color: #fff;
							text-align: center;
							@include flex(0 0 30px);

							i.quality {
								border-radius: 50%;
								width: 18px;
								height: 18px;
								border: 1px solid;
								display: inline-block;

								&.score-1 {
									background: #00ff00;
									border-color: darken(#00ff00, 15%);
								}

								&.score-2 {
									background: #a6ff00;
									border-color: darken(#a6ff00, 15%);
								}

								&.score-3 {
									background: #e6ff00;
									border-color: darken(#e6ff00, 15%);
								}

								&.score-4 {
									background: #ffc800;
									border-color: darken(#ffc800, 15%);
								}

								&.score-5 {
									background: #e25a00;
									border-color: darken(#e25a00, 15%);
								}

								&.score-6 {
									background: #8b0000;
									border-color: darken(#8b0000, 15%);
								}
							}
						}

						&.name {
							font-size: 12px;
							font-style: italic;
							color: rgba(255,255,255,0.7);
						}

						&.value {
							font-size: 14px;
							color: #fff;
							text-align: right;
							@include flex(0 0 95px);

							small {
								font-size: 10px;
							}
						}
					}

					&.temp .col.value small,
					&.wd .col.value small {
						font-size: inherit;
					}
				}
			}
		}
	}

	.bar-footer {
		background: rgba(0,0,0,0.3);

		.button {
			color: rgba(255,255,255,0.85);

			&:before {
				margin-top: 0;
			}
		}

		&:before {
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			top: 0;
			border-top: 1px solid rgba(0,0,0,0.1);
		}
	}
}