db-dashboard-channel {
	.col {
		&.icon {
			font-size: 18px;
			color: #fff;
			text-align: center;
			@include flex(0 0 30px);

			i.quality {
				border-radius: 50%;
				width: 18px;
				height: 18px;
				border: 1px solid;
				display: inline-block;

				&.score-1 {
					background: #00ff00;
					border-color: darken(#00ff00, 15%);
				}

				&.score-2 {
					background: #a6ff00;
					border-color: darken(#a6ff00, 15%);
				}

				&.score-3 {
					background: #e6ff00;
					border-color: darken(#e6ff00, 15%);
				}

				&.score-4 {
					background: #ffc800;
					border-color: darken(#ffc800, 15%);
				}

				&.score-5 {
					background: #e25a00;
					border-color: darken(#e25a00, 15%);
				}

				&.score-6 {
					background: #8b0000;
					border-color: darken(#8b0000, 15%);
				}
			}
		}

		&.name {
			font-size: 12px;
			font-style: italic;
			color: rgba(255,255,255,0.7);
		}

		&.value {
			font-size: 14px;
			color: #fff;
			text-align: right;
			@include flex(0 0 95px);

			small {
				font-size: 10px;
			}
		}
	}

	&.temp .col.value small,
	&.wd .col.value small {
		font-size: inherit;
	}
}